@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');

:root {
  --cardBackground: rgba(0, 0, 0, 0.5);
  --myWhite: #fff
}

* {
  margin: 0;
  padding: 0;
  color: var(--myWhite);
  font-family: 'Fira Code', monospace;
  scroll-behavior: smooth;
  transition: 1s;

}

ul {
  padding-left: 2rem;
}

.webgl {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  outline: none;
}

.label-container {
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.label {
  color: var(--myWhite);
  margin-bottom: 8px;
}

a,
a:visited {
  color: inherit;
}

.container-main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

@media only screen and (max-width:600px) {

  .border,
  .card-container,
  .scrollable {
    width: 90vw;
    height: 90vh;
  }

  .name-title h1 {
    font-size: 2rem;
  }

  .card-inner div {
    display: flex;
    flex-direction: column;
    max-width: 95%;
  }
}

@media only screen and (min-width:600px) {

  .border,
  .card-container,
  .scrollable {
    width: 95vw;
    height: 90vh;
  }

  .card-inner div {
    display: flex;
    flex-direction: column;
    max-width: 50%;
  }

  .name-title h1 {
    font-size: 4rem;
  }
}

.border {
  border: 2px var(--myWhite) solid;
  transition: 1s;
  position: fixed;
  overflow: hidden;
  /* z-index: 10; */
  /* filter: blur(4px); */

}

.scrollable {
  overflow: hidden;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
}

.blur {
  position: absolute;
  width: inherit;
  height: inherit;
  /* background-color: rgba(0, 0, 0, .5);
  filter: blur(4px); */
}

nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  width: inherit;
}

.nav-btn {
  background-color: var(--cardBackground);
  color: var(--myWhite);
  border: none;
  border: var(--myWhite) solid 2px;
  padding: .7rem;
  transition: 0.25s;
  z-index: 100;
  backdrop-filter: blur(7px);
  max-height: 3rem;

  &:hover,
  &:focus {
    color: #000;
    box-shadow: inset 0 3.25em 0 0 var(--myWhite);
  }
}

.name-title {
  padding: 1rem;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
}


.card-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow-y: auto; */
}

.card {
  /* position: relative; */
  width: 80vw;
  max-height: 90vh;
  /* height: 50vh; */
  margin: 2rem;
  background-color: var(--cardBackground);
  backdrop-filter: blur(7px);
  border: solid 2px var(--myWhite);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card h1 {
  margin-bottom: 2rem;
}

.card-inner {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: 2fr 3fr; */
  height: 100%;

}

.portf-left {
  align-items: center;
  justify-content: flex-start;
}

.portf-left div {
  margin-bottom: 0;
}

.portf-left a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card video {
  max-width: 75%;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.logo {
  max-height: 1.5rem;
  padding: 1rem;

}

.text-right>* {
  margin-bottom: 1rem;
}

/* CONTACT */

.contact-div {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
}

.contact-inner {
  min-width: 50%;
  padding: 1rem;
  height: 40%;
  background-color: var(--cardBackground);
  border: solid var(--myWhite) 2px;
  backdrop-filter: blur(7px);
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logos {
  display: flex;
}

/* ABOUT ME */
.about-div {
  width: inherit;
  height: inherit;
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bio {
  width: inherit;
  height: inherit;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hard-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hard-skills li {
  padding: 0rem;
}